<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item>
        <name>Espresso</name>
        <price>120</price>
    </item>
    <item>
        <name>Cappuccino</name>
        <price>150</price>
    </item>
    <item>
        <name>Latte</name>
        <price>140</price>
    </item>
    <item>
        <name>Mocha</name>
        <price>160</price>
    </item>
    <item>
        <name>Americano</name>
        <price>110</price>
    </item>
    <item>
        <name>Cold Brew</name>
        <price>180</price>
    </item>
</menu>

